<div>
    <h1>Hello there traveller</h1>
    <h2>Login form</h2>
    {{> login }}
    <h2>register form</h2>
    {{> register}}
</div>
<section>
    <div>
        {{> schedule }}
    </div>
    <div>
        {{> editmodal }}
    </div>
</section>