<div class="container-modal">
    <div class="content-modal">
        <div class="head">
            <h2 class="heading">
                {{ modalheading }}
            </h2>
            <div class="content">
                {{ modalcontent }}
            </div>
            <button>
                {{ buttontext }}
            </button>
        </div>
    </div>
</div>