<div>
    <h1>
        first page
    </h1>
</div>
<div>
    <h1>
        second page
    </h1>
</div>
<div>
    <h1>
        third page
    </h1>
</div>
<div>
    <h1>
        fourth page
    </h1>
</div>